* {
    box-sizing: border-box;
    color: white;
}

@font-face {
    src: url("assets/fonts/LasEnter.ttf") format("truetype");
    font-family: "Kinlove";
}

html {
    background-image: linear-gradient(25deg,#1D0017, #3E0031, #27001F);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game {
    display: flex;
    background: linear-gradient(20deg, #131313,#262626);
    width: clamp(400px, 50vw,600px);
    border-radius: 20px;
    box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.5);
    min-height: 100px;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.gameTitle {
    color: #DB0073;
    text-shadow: 5px 5px 3px #5F004C;;
    width: 80%;
    text-align: center;
    font-family: "Kinlove";
    font-size: clamp(24px, 5vh, 42px);
    z-index: 1;
    margin-top: min(30px, 3vh);
    margin-bottom: min(20px, 3vh);
}

.titre {
    width: 80%;
    text-align: center;
    font-size: clamp( 18px, 4vh, 36px);
    z-index: 1;
    margin-bottom: min(10px, 2vh);
}

.texte {
    width: 80%;
    font-size: clamp(12px, 3vh, 24px);
    z-index: 1;
    text-align: justify;
}

.chic, .videoZone{
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    align-self: center;
    z-index: 0;
}
.btnSound {
    display: none
}

.arrImage {
    display: flex;
    border: 5px black solid;
    width: 80%;
    max-height: 350px;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    margin: 4vh 0;
    padding: 0;
    background-image: linear-gradient(25deg,#1D0017, #3E0031, #27001F);
    box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.3);
}

.imageFalse {
    display: none
}

.bouton {
    background: linear-gradient(0deg,#5F004C, #DB0073);
    width: 80%;
    height: clamp(24px, 4vh, 40px);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    text-align: center;
    font-size: clamp(14px, 3vh, 20px);
    line-height: clamp(24px, 4vh, 40px);
    z-index: 1;
    margin-bottom: clamp(10px, 2vh, 20px);
    transition-duration: 0.3s;
    border: 0px;
}

.bouton:hover {
    background: linear-gradient(0deg,#690000, #D30000);
    scale: 105%;
}
